bcrypt==5.0.0
contourpy==1.3.3
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
fonttools==4.62.1
kiwisolver==1.5.0
matplotlib==3.10.9
mysql-connector-python==9.6.0
numpy==2.4.4
opencv-python==4.13.0.92
packaging==26.2
pillow==12.2.0
pyparsing==3.3.2
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.18.0
PyQt6==6.11.0
PyQt6-Qt6==6.11.0
PyQt6_sip==13.11.1
python-dateutil==2.9.0.post0
python-dotenv
pyzbar==0.1.9
qrcode
six==1.17.0
